<div class="container">
    <div class="productss">
        {{#each data}}
            
            <div class="product-listings">
                
                <p class="product-info">
                    {{this.title}}
                </p>
            
                <div class="proo">
                    <img src="/imguploaded/{{this.imgSrc}}">
                </div>

                <p class="product-info">
                    ${{this.price}}
                </p>

                <p class="product-info">
                    {{this.description}}
                </p>

                <div class="row align-items-center justify-content-center">
                    <button class="btn btn-secondary btn-sm" value="Details" type="submit">Details</button>        
                </div>

                {{!-- <div class="row align-items-center justify-content-center">
                    <button class="btn btn-secondary btn-sm" value="Details" type="submit">Add to Cart</button>        
                </div> --}}

                <div class="row align-items-center justify-content-center">
                    <a href="/products/editProduct/{{this.id}}"><button class="btn btn-secondary btn-sm" value="Submit" type="submit">Edit this product</button></a>        
                </div>
            </div>

        {{/each}}
        
    </div>
</div>