<div class="container">

    <div class="row align-items-center justify-content-center">
        
        <div class="row align-items-center justify-content-center">
            <a href="/products/allProducts"><button class="btn btn-secondary btn-sm text-center" value="All Products" type="submit">All Products</button></a>        
        </div>

        <div class="row align-items-center justify-content-center">
            <a href="/products/Summer"><button class="btn btn-secondary btn-sm" value="Summer" type="submit">Summer</button></a>        
        </div>

        <div class="row align-items-center justify-content-center">
             <a href="/products/Winter"><button class="btn btn-secondary btn-sm" value="Winter" type="submit">Winter</button></a>    
        </div>

        <div class="row align-items-center justify-content-center">
            <a href="/products/Spring"><button class="btn btn-secondary btn-sm" value="Spring" type="submit">Spring</button></a>        
        </div>

        <div class="row align-items-center justify-content-center">
             <a href="/products/Fall"><button class="btn btn-secondary btn-sm" value="Fall" type="submit">Fall</button></a>      
        </div>
        <br>

    </div>
    <br>
    <div class="productss">
        {{#each data}}
        
            
            <div class="product-listings">
                
                <p class="product-info">
                    {{this.title}}
                </p>
            
                <div class="proo">
                    <img src="/imguploaded/{{this.imgSrc}}">
                </div>

                <p class="product-info">
                    ${{this.price}}
                </p>

                <p class="product-info">
                    {{this.description}}
                </p>

                <a href="/products/productDetails/{{this.id}}"><div class="row align-items-center justify-content-center">
                    <button class="btn btn-secondary btn-sm" value="Details" type="submit">Details</button>        
                </div></a>

               <div class="row align-items-center justify-content-center">
                     <a href="/products/cart/{{this.id}}"><button class="btn btn-secondary btn-sm" value="addToCart" type="submit">Add to Cart</button>        
                </div></a>

                
            </div>
       
        {{/each}}
        
    </div>
</div>