<style>
    img {
    width: 80%;
    height: auto
}
</style>
<br>
<div class="container align-items-center">
  <div class="row">
        <div class="col-sm-2 text-center">
        </div>

        <div class="col-sm-4 text-center">
            <img src="/imguploaded/{{this.imgSrc}}" class="rounded" alt="...">
        </div>

        <div class="col-sm-4 text-center align-self-center">
            {{title}}
            <br>
            Description - {{description}}
            <br>
            Price - ${{price}}
            <br>
            <br>
            <div class="row align-items-center justify-content-center">
                <a href="/products/cart/{{this._id}}"><button class="btn btn-secondary btn-sm" value="addToCart" type="submit">Add to Cart</button>        
            </div></a>

            <div class="row align-items-center justify-content-center">
                <a href="/products/allProducts"><button class="btn btn-secondary btn-sm" value="goBack" type="submit">Go Back</button></a>        
            </div>
        </div>

    </div>

</div>

